/* Global Styles -------------------------------- */

html {
	box-sizing: border-box;
}

*,
*:before,
:after {
	box-sizing: inherit;
}

body {
	color: #232c33;
	background-color: #bcd8c1;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.5;
}

img {
	width: 500px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

section {
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 45px;
}

h1,
h2 {
	font-family: 'Bad Script', cursive;
	margin: 30px;
}

h3 {
	font-family: 'Lato', sans-serif;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

/* Profile ---------------------------------------- */

header {
	/*background: #343434;*/
	color: #202020;
	font-size: 1em;
	padding: 20px;
	border: 20px solid #90B494;
	margin: 2% 10% 5% 10%;
	text-align: center;
}

/* Stylized Header ---------------------------------*/
/* I left what I omitted in the code in case that was required */

/*html {
	height: 100%;
  }

  /*body {
	overflow: hidden;
	margin: 0;
	padding: 0;
 	background: rgba(206,188,155,1);
	background: -moz-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(206,188,155,1)), color-stop(51%, rgba(85,63,50,1)), color-stop(100%, rgba(42,31,25,1)));
	background: -webkit-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
	background: linear-gradient(135deg, rgba(206,188,155,1) 0%, rgba(85,63,50,1) 51%, rgba(42,31,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 ); */


  h1 {
	width: 100%;
	margin: 0 auto 0 auto;
	font-family: 'Bad Script', cursive;
	line-height: 280px;
	font-size: 11.5rem;
	padding: 80px 50px;
	text-align: center;
	text-rendering: optimizeLegibility;
  }

  /*
  ============
	  Light
  ============
  */
/* h1::before {
	content:"";
	width: 100%;
	height: 750px;
	position: absolute;
	top: -200px;
	left: 10px;
	transform: rotate(55deg);
	background: rgba(206,188,155,.7);
	background: -moz-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,188,155,.7)), color-stop(65%, rgba(42,31,25,0)));
	background: -webkit-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
	background: -o-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
	background: -ms-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
	background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 ); );
  }
  */



  /*
  ========================
			  3D Effect
  ========================
  */
  #text3d {
	  color: #fff;
	  letter-spacing: .15em;
	  text-shadow:
		-1px -1px 1px #efede3,
		0px 1px 0 #2e2e2e,
		0px 2px 0 #2c2c2c,
		0px 3px 0 #2a2a2a,
		0px 4px 0 #282828,
		0px 5px 0 #262626,
		0px 6px 0 #242424,
		0px 7px 0 #222,
		0px 8px 0 #202020,
		0px 9px 0 #1e1e1e,
		0px 10px 0 #1c1c1c,
		0px 11px 0 #1a1a1a,
		0px 12px 0 #181818,
		0px 13px 0 #161616,
		0px 14px 0 #141414,
		0px 15px 0 #121212,
		2px 20px 5px rgba(0, 0, 0, 0.9),
		5px 23px 5px rgba(0, 0, 0, 0.3),
		8px 27px 8px rgba(0, 0, 0, 0.5),
		8px 28px 35px rgba(0, 0, 0, 0.9);
   }
/* Projects --------------------------------------- */


.projects {
	background: #90B494;
	border: 2px solid #343434;
	margin: 40px;
}

.projects a {
	color: #232c33;
}

.projects .btn {
	color: #fff;
	background: #232c33;
	text-decoration: none;
	padding: 8px;
	border-radius: 6px;
	margin: 10px;
	display: inline-block;
}

.projects .btn:hover {
	background: rgba(56, 77, 56, 0.8);
}

.project-item {
	overflow: hidden;
	border-bottom: 1px dashed #232c33;
	padding: 25px 0;
}

.project-item img {
	float: left;
	margin-right: 20px;
}

.project-item h3 {
	margin-top: 0;
}

/* Work Experience -------------------------------- */

.work-experience {
	background: #90B494;
	border: 2px solid #343434;
	margin: 40px;
}

.work-experience a {
	color: #fff;
}

.work-experience .btn {
	color: #fff;
	background: #232c33;
	text-decoration: none;
	padding: 12px;
	border-radius: 6px;
	margin: 10px;
}

.work-experience .btn:hover {
	background: rgba(56, 77, 56, 0.8);
}

/* Education -------------------------------------- */

.education {
	background: #90B494;
	border: 2px solid #343434;
	margin: 40px;
}

/* Contact Info ----------------------------------- */

footer {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	background: rgb(66, 75, 65);
	color: #f7fff7;
	border: 15px solid #90B494;
	text-align: center;
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  footer ul li {
	list-style: none;
	margin: 10px;
	padding: 20px;
	font-size: 1.1em;
	background-color: #232c33;
	border: 2px solid #fff;
	border-radius: 6px;
  }
